# Настройки в файле settings.py джанго
# Настройки джанго
SECRET_KEY=

DEBUG=

# Настройки БД в джанго
NAME=
USER=
PASSWORD=
HOST=
PORT=


# Настройки email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=


# Настройки телеграм бота
BOT_NAME=
BOT_TOKEN=
SITE_BASE_URL=http://localhost:8000
TELEGRAM_LOG_CHAT_ID=
