ONLINE_RESULTS_WEBHOOK_SECRET=change_me
ONLINE_RESULTS_WEBHOOK_PUBLIC_BASE_URL=http://host.docker.internal:8000
ONLINE_RESULTS_STREAM_START_URL=http://localhost:8002/v1/streams
ONLINE_RESULTS_STREAM_STOP_URL_TEMPLATE=http://localhost:8002/v1/streams/{stream_id}/stop
ONLINE_RESULTS_STREAM_TIMEOUT_SEC=15
ONLINE_RESULTS_STREAM_AUTH_TOKEN=
ONLINE_RESULTS_STREAM_POLL_INTERVAL_SEC=1.0
ONLINE_RESULTS_STREAM_REFRESH_TITLES_EVERY=120
ONLINE_RESULTS_STREAM_FINALIZE_TIMEOUT_SEC=300
ONLINE_RESULTS_STREAM_FINALIZE_MAX_MISSING=2
ONLINE_RESULTS_STREAM_WORKER_PRINT=False
